@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 100%;
}

#root {
    font-family: "Roboto", sans-serif;
    height: 100%;
    font-size: 1.1rem;
}

.header,
.navigation {
    font-family: "Monserrat", sans-serif;
    background-color: #0fbcf9;
    color: #fff;
    box-shadow: 0 0 10px 8px #0003;
    z-index: 9999;
}

.header {
    font-size: 2rem;
    margin: 0 0 2rem;
    padding: 1rem;
    text-align: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navigation-link {
    text-decoration: none;
    color: inherit;
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
}

main {
    margin: 0 0 4rem;
}

.content-title {
    background-color: #0fbcf9;
    color: #fff;
    padding: 0.5rem;
    display: inline-block;
    box-shadow: 0 0 4px #0003;
    margin: 0 0 1rem;
}

.paragraph {
    margin: 0 0.5rem 1rem;
}

.paragraph-tiny {
    font-size: 0.5rem;
    font-style: italic;
}

.tab-container {
    text-align: right;
}

.tab {
    display: inline-block;
    background-color: #fa880f;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 4px #0003;
    margin: 0 0 1rem;
    text-decoration: none;
}

.form {
    margin: 0 0.5rem;
}

.input {
    display: block;
    width: 100%;
    font-size: inherit;
    border: 1px solid #0003;
    box-shadow: 0 0 4px #0003;
    padding: 1rem;
    margin: 0 0 1rem;
}

.button {
    width: 60%;
    border: none;
}

.button.tab {
    border-left: 1rem solid #0fbcf9;
}

.submit {
    position: relative;
}

.form:invalid .submit::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa;
}

.kv {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    margin: 0 0 1rem;
}

.kv-key,
.kv-value {
    display: inline;
    padding: 0.5rem 2rem;
    color: #fff;
    box-shadow: 0 0 4px #0003;
}

.kv-key {
    background-color: #0fbcf9;
}

.kv-value {
    background-color: #fa880f;
    width: 100%;
    text-align: right;
}

.chart-container {
    margin: 0 1rem 0 0.2rem;
}
